<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Scout LLN</title>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="/stylesheets/default.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<div id="wrapper">


<!-- ------------------------------Haut du site------------------------------- -->
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="/"> Scout LLN </a></h1>
			</div>
		</div>
		<div id="menu" class="container">
			<ul>
				<li><a href="/">Homepage</a></li>
				<li><a href="/photo">Photos $ Vidéos</a></li>
				<li><a href="/planning">Planning & absences</a></li>
				<li><a href="/feedback">Feedback</a></li>
				<li><a href="/staff">Gestion du staff</a></li>
      	<li><a href="/logout">Deconnection</a></li>
			</ul>
		</div>
	</div>


	<div id="page" class="container">


<!-- ------------------------------Corps du site------------------------------- -->
		<div id="content">

	<!-- Block 1 --------------------- -->
			<div class="post">
				<h2>Bienvenue chez les scouts de Louvain-la-neuve</h2>
				<p><img src="/images/ban.jpg" alt="" class="image image-full" /></p>
				<p>
					Bienvenue sur le site des scouts de Louvain-la-neuve </br>
					Ici vous pourrez, voir toutes les photos et toutes les informations concernant les réunions et autres évenements qui auront lieu au cours de l'année. Vous pourrez remettre sur ces site des feedbacks sur nos réunions et tout ce que nous feront. </br>
					Vous pourrez également voir toute les photos et vidéos que nous prenons au cours de l'année et les télécharger si vous le souhaiter.
				</p>
			</div>
		</div>


<!-- ------------------------------Menu de gauche------------------------------- -->
		<div id="sidebar1">
			<div style="height: 800px">
				<h2>Chefs scout</h2>
				<ul class="style2">
				</ul>
			</div>
		</div>
  </div>


<!-- ------------------------------Bas du site------------------------------- -->
	<div id="portfolio-wrapper">
		<div id="portfolio" class="container">
			<div class="title">
				<h2>Liens externes</h2>
				<span class="byline"></span> </div>
			<div class="column1">
				<div class="box">
					<h3>Youtube</h3>
					<p>Lien vers la chaine Youtube où nous mettrons les films de nos scouts</p>
					<a href="http://www.youtube.com/" class="button">Youtube</a> </div>
			</div>
			<div class="column2">
				<div class="box">
					<h3>Site officiel scout</h3>
					<p>Lien vers le site officiel des scouts de belgique</p>
					<a href="http://www.lesscouts.be/" class="button">Scout.be</a> </div>
			</div>
			<div class="column3">
				<div class="box">
					<h3>Facebook</h3>
					<p>Tenez vous au courant via notre groupe facebook</p>
					<a href="https://www.facebook.com/groups/416785248504303/?fref=ts" class="button">Facebook</a> </div>
			</div>
			<div class="column4">
				<div class="box">
					<h3>Nous contacter</h3>
					<p>Des questions, ou des suggestions ? Envoyez-nous un mail.</p>
					<a href="mailto:vincent.gradzielewski@student.uclouvain.be" class="button">E-mail</a> </div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<p>Antoine Poppeler && Vincent Gradzielewski</p>
</div>
</body>
</html>
